:root {
  font-size: 16px;

  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;
  --font-size-xxlarge: 1.875rem;
}

html {
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-size: 1rem;
  line-height: 1.625;
  background-color: #F0F0F0;
  font-family: pt-sans, serif;
  color: #0C0C0C;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* main #page-content {
  background-image: linear-gradient(#f00 1px, transparent 1px);
  background-size: auto calc(1.625rem - 0px);
} */


h1,h2,h3,h4,h5,h6 {
  font-family: pt-serif, Arial, sans-serif;
  /* letter-spacing: -1px; */
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  overflow-wrap: break-word;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#page-content {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    1rem
    [content-start] min(70ch, calc(100% - 2rem)) [content-end]
    1rem
    minmax(0, 1fr);
  width: 100%;
}

#page-content > * {
  grid-column: content;
  margin-bottom: 0.8125rem;
}

#page-content h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

#page-content h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;

  border-left: 4px solid blue;
  padding-left: 8px;
  margin-left: -14px;
}

#page-content * + h2 {
  margin-top: 2rem;
}

#page-content h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#page-content * + h3 {
  margin-top: 1.5rem;
}
