:root {
  --font-size: 1rem;
  --ratio: 1.333;
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));
}

body {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  color: #383838;
}

main #content {
  max-width: 60ch;
  margin: 0 auto;
}

p, li, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  font-size: var(--font-size);
}

h4 {
  font-size: var(--h4);
}

h3 {
  font-size: var(--h3);
}

h2 {
  font-size: var(--h2);
}

h1 {
  font-size: var(--h1);
}
